<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, required: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :affiliation %>
  <%= f.text_field :affiliation, required: true, class: "form-control" %>
</div>

<div class="form-group">
  <label class="radio-inline"><%= f.radio_button :sex, 0 %> Male</label>
  <label class="radio-inline"><%= f.radio_button :sex, 1 %> Female</label>
</div>

<div class="form-group">
  <%= f.label :category %>
  <%= f.select :category, participation_types, { }, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, required: true, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
</div>
<%= f.submit "登録", class: "btn btn-default" %>
<% end %>