<h2>システム趣旨説明と手順</h2>
<p>
  WISS 2013では、「○○さんと話したい」などの希望をみなさんに入力してもらい、それを基にして夕食の座席を決める実験的な試みを行うことになりました。
  ご利用の手順：
</p>
<ol>
  <%= content_tag "li", "ログインする (メールでお知らせしたパスワードをご利用ください。ユーザ登録は不要です)", class: current_user ? "text-muted" : "alert-info" %>
  <%= content_tag "li", "希望を入力する", class: current_user ? "alert-success": "" %>
  <li>当日、席次表を受け取り、夕食の際に確認のうえ着席する</li>
</ol>

<% if current_user %>
  <h2>希望を登録する</h2>
  
  <div class="wantform">
  <%= form_tag want_events_path, id: "want_people" do -%>
    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#narrowdown">絞り込む</button>
    <%= select :want, :who_id, grouped_options_for_select(@grouped_users, current_user.id), {}, id: "select_who", class: "who" %> さんと
    <%= select :want, :wantable_id, grouped_options_for_select(@grouped_users), {}, id: "select_wantable", class: "who" %>　さんが
    <%= submit_tag "近くの席になれたらいいな" %>
    <%#= collection_select :want, :who_id, @users, :id, :name, selected: current_user.id %>
    <%#*<button class="btn btn-default btn-xs">絞り込む&gt;</button>%>
    <%#= collection_select :want, :wantable_id, @users, :id, :name %>
    <p class="help-block">
      憧れのあの人に研究を売り込むチャンス？<br/>
      自分が含まれていない希望を登録して、誰かを後押しすることもできます。
    </p> 
  <% end -%>
  </div>
  
    <div id="narrowdown" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">絞り込みの設定</h4>
        </div>
        <div class="modal-body">
          <div class="form-group"><label>参加形態</label>
            <select multiple id="select_types" class="form-control"><%= options_for_select participation_types %></select>
          </div>
          <div class="form-group"><label>所属</label>
            <select multiple id="select_affiliations" class="form-control"><%= options_for_select @affiliations %></select>
          </div>
        </div>
        <div class="modal-footer">
          <button id="showall_button" class="btn btn-default" data-dismiss="modal">絞り込みを解除</button>
          <button id="narrowdown_button" class="btn btn-primary" data-dismiss="modal">絞り込む</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wantform">
  <%= form_tag want_topic_events_path do -%>
    <%= collection_select :want, :wantable_id, @topics, :id, :description %>
    の<%= submit_tag "話がしたい" %>
    <%= link_to "他の話題を提案する", new_topic_url %>
  <% end -%>
    <p class="help-block">
      特に希望の相手は思い当たらない人向けにはこちら。<br />
      同じ話題を希望している人どうしは近くの席になりやすくなります。<br/>
      自分の研究テーマを<%= link_to "話題として追加", new_topic_url %>してみてもいいかも？
    </p>
  </div>
  
  <div class="excludeform">
    <%=  form_tag update_exclude_events_path do -%>
      <%= check_box_tag :exclude, true, current_user.exclude %>
      <%= label_tag(:exclude, "自分の席は自分で決めたい") %>
      <%= submit_tag "更新" %>
    <% end -%>
    <p class="help-block">
      他の人の席を決めた後残った席の中から、当日自由に席を決めていただけます。<br/>
      選択肢が非常に限られる可能性もありますのでご了承ください。
    </p>
  </div>
  
    <h2>あなたが登録した希望</h2>
    <% if current_user.exclude %>
    <p>
      ※現在、「自分の席は自分で決めたい」が設定されています。自分に関する希望は登録できますが、考慮されません。（それ以外の希望は考慮されます。）
    </p>
    <% end %>
    <p><%= current_user.wants.count %>件の希望が登録されています
      <%#*<button onclick="$('#wishlist').show()">希望の一覧を表示する</button>%>
    </p>
    <table id="wishlist">
    <% current_user.wants.each{|want| -%>
      <tr><td><%= human_readable_want(want) %></td><td><%= button_to "やっぱりやめる", user_want_path(current_user, want), method: "delete", confirm: "本当にやめますか？" %></td></tr>
    <% } -%>
    </table>
<% else -%>
    <p>希望を登録するにはログインしてください。</p>
    <%= form_tag login_path do -%>
      名前: <%#= select_tag :user_id, options_from_collection_for_select(@users, :id, :name_with_affiliation), include_blank: true %>
      <%= select_tag :user_id, grouped_options_for_select(@grouped_users), prompt: "名前を選択してください", id: "select_user" %>
      パスワード: <%= password_field_tag :password %>
      <%= submit_tag "ログイン" %>
    <% end -%>
<% end -%>

<h2>夕食一覧</h2>
<% @events.each{|e| -%>
  <%= link_to e.description, event_path(e)  %>
<% } -%>

<div class="footer">
<%= link_to "管理者用", admin_index_path %>
</div>