
<% if current_user %>
  <h2>希望を登録する</h2>

  <% unless current_user.exclude %>
  <div class="wantform">
  <%= form_tag want_events_path do -%>
    <%#= collection_select :want, :who_id, @users, :id, :name, selected: current_user.id %>
    <%#= collection_select :want, :wantable_id, @users, :id, :name %>
    <%= select :want, :who_id, grouped_options_for_select(@grouped_users, current_user.id), {}, id: "select_who" %> さんが
    <%= select :want, :wantable_id, grouped_options_for_select(@grouped_users), {}, id: "select_wantable" %> さんと
    <%= submit_tag "近くの席になれたらいいな" %><br/>
    ※自分が含まれていない希望も登録できます。 
  <% end -%>
  </div>

  <div class="wantform">
  <%= form_tag want_topic_events_path do -%>
    <%= collection_select :want, :wantable_id, @topics, :id, :description %>
    の<%= submit_tag "話がしたい" %>
    <%= link_to "他の話題を提案する", new_topic_url %>
  <% end -%>
  </div>
  <% end %>
  
  <div class="excludeform">
    <%=  form_tag update_exclude_events_path do -%>
      <%= check_box_tag :exclude, true, current_user.exclude %>
      <%= label_tag(:exclude, "自分の席は自分で決めたい") %>
      <%= submit_tag "更新" %>
    <% end -%>
  </div>
  
    <h2>あなたが登録した希望</h2>
    <% if current_user.exclude %>
    <p>※「自分の席は自分で決めたい」にしていると希望を登録していても考慮されません。</p>
    <% end %>
    <p><%= current_user.wants.count %>件の希望が登録されています
      <button onclick="$('#wishlist').show()">希望の一覧を表示する</button>
    </p>
    <ul id="wishlist">
    <% current_user.wants.each{|want| -%>
      <li><%= human_readable_want(want) %></li>
    <% } -%>
    </ul>
<% else -%>
    希望を登録するにはログインしてください。
    <%= form_tag login_path do -%>
      名前: <%#= select_tag :user_id, options_from_collection_for_select(@users, :id, :name_with_affiliation), include_blank: true %>
      <%= select_tag :user_id, grouped_options_for_select(@grouped_users), prompt: "名前を選択してください", id: "select_user" %>
      パスワード: <%= password_field_tag :password %>
      <%= submit_tag "ログイン" %>
    <% end -%>
<% end -%>

<h2>イベント一覧</h2>
<% @events.each{|e| -%>
  <%= link_to e.description, event_path(e)  %>
<% } -%>

<div class="footer">
<%= link_to "管理者用", admin_index_path %>
</div>