<%= content_tag 'p', flash['alert'], class: 'alert alert-warning' if flash['alert'] %>

<h2>システム趣旨説明</h2>
<p>
  「○○さんと話したい」などの希望をみなさんに入力していただき、それをもとに夕食の座席を決めるシステムです。今年で3回目。
  <%= link_to '詳細＆FAQ', :about  %>
</p>

<div class="row three">
<div class="col-sm-4">
<h2>利用手順</h2>
<ol>
  <%= content_tag 'li', 'ログインする', class: current_user ? 'text-muted' : 'alert-success' %>
  <%= content_tag 'li', '希望を入力する', class: current_user ? 'alert-success' : '' %>
  <li>夕食の際に、席次表を確認して着席する</li>
</ol>
</div>

<div class="col-sm-4">
<h2>席次表</h2>
<ul class="list-inline">
  <% @events.each{|e| -%>
      <li><%= link_to e.description, event_path(e)  %></li>
  <% } -%>
</ul>
</div>

<div class="col-sm-4">
<h2>みんなの希望</h2>
<span class="xx-large"><%= User.all.count %></span> 人中 <span class="xx-large"><%= User.with_wants.count %></span> 人の参加者が合計で
<span class="xx-large"><%= Want.all.count %></span> 個の希望を登録しています
</div>

</div>


<% if current_user %>
    <h2>あなたが登録した希望</h2>
    <% if current_user.exclude %>
    <p class="text-danger">
      ※「席を決められたくない」が設定されています。希望を登録しても席決めの対象外になります。（ほかの人に関する希望は席決めで考慮されます。）<br/>
      席決め対象になりたい場合は、下の方にあるチェックをオフにして更新ボタンを押してください。
    </p>
    <% end %>
    <table id="wishlist">
    <% current_user.wants.each{|want| -%>
      <tr>
        <td><%= human_readable_want(want) %></td>
        <td><%= button_to 'やっぱりやめる', user_want_path(current_user, want), method: :delete, data: { confirm: '本当にやめますか？' } %></td>
      </tr>
    <% } -%>
    </table>

    <h2>希望を登録する</h2>
  
  <div class="well well-want">
    <div class="btn-group">
      <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#narrowdown">絞り込む</button>
      <button class="btn btn-default btn-xs" id="cancel_narrowdown_button1">解除</button>
    </div>
    <!--☆:登壇 ○:デモ・ポスター □:PC委員-->
  <%= form_tag want_events_path, id: 'want_people' do -%>
    <%= select :want, :who_id, grouped_options_for_select(@grouped_users, current_user.id), {}, id: 'select_who', class: 'who' %> さんと
    <%= select :want, :wantable_id, grouped_options_for_select(@grouped_users, nil, prompt: '選択されていません'), {}, id: 'select_wantable', class: 'who' %>　さんが
    <%= submit_tag '近くの席になれたらいいな' %>
    <%#= collection_select :want, :who_id, @users, :id, :name, selected: current_user.id %>
    <%#*<button class="btn btn-default btn-xs">絞り込む&gt;</button>%>
    <%#= collection_select :want, :wantable_id, @users, :id, :name %>
    <p class="help-block">
      憧れのあの人に研究を売り込むチャンス？<br/>
      自分が含まれていない希望を登録して、誰かを後押しすることもできます。
    </p> 
  <% end -%>
  </div>
  
    <div id="narrowdown" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">絞り込みの設定</h4>
        </div>
        <div class="modal-body">
          <div class="form-group"><label>参加形態</label>
            <select multiple id="select_types" size="5" class="form-control"><%= options_for_select participation_types %></select>
          </div>
          <div class="form-group"><label>所属</label>
            <select multiple id="select_affiliations" size="8" class="form-control"><%= options_for_select @affiliations %></select>
          </div>
        </div>
        <div class="modal-footer">
          <button id="cancel_narrowdown_button2" class="btn btn-default cancel_narrow_down" data-dismiss="modal">絞り込みを解除する</button>
          <button id="narrowdown_button" class="btn btn-primary" data-dismiss="modal">絞り込む</button>
        </div>
      </div>
    </div>
  </div>
  
  <select id="select_clone" style="display: none"></select>

  <div class="well well-want">
  <%= form_tag want_topic_events_path do -%>
    <%= collection_select :want, :wantable_id, @topics, :id, :description %>
    の<%= submit_tag '話がしたい' %>
    <%= link_to '他の話題を提案する', new_topic_url %>
  <% end -%>
    <p class="help-block">
      特に希望の相手は思い当たらない人向けにはこちら。<br />
      同じ話題を希望している人どうしは近くの席になりやすくなります。<br/>
      自分の研究テーマを<%= link_to '話題として追加', new_topic_url %>してみてもいいかも？
    </p>
  </div>
  
  <div class="well well-exclude">
    <%=  form_tag update_exclude_events_path do -%>
      <%= check_box_tag :exclude, true, current_user.exclude %>
      <%= label_tag(:exclude, '席を決められたくない') %>
      <%= submit_tag '更新' %>
    <% end -%>
    <p class="help-block">
      席決めの対象外になります。<br/>対象外の人数分、席が残りますので、そのどれかに座ってください。<br/>
    </p>
  </div>
  

<% end -%>
    
<% unless current_user %>
    <h2>ログイン</h2>
    
    <%= form_tag login_path, id: 'login' do -%>
    <div class="form-group">
      <%= label_tag :email, 'メールアドレス' %>
      <%= email_field_tag :email, nil, placeholder: '案内メールが届いたメールアドレスを入力してください', class: 'form-control' %>
      <%#= select_tag :user_id, grouped_options_for_select(@grouped_users), prompt: "名前を選択してください", id: "select_user" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, 'パスワード' %>
      <%= password_field_tag :password, nil, placeholder: '案内メールに記載のパスワードを入力してください', class: 'form-control' %>
    </div>
      <%= submit_tag 'ログイン', class: 'btn btn-default' %>
    <% end -%>
<% end -%>
 

<div class="footer">
<%= link_to '管理者用', admin_index_path %>
</div>