<h1><%= @event.description %>の席</h1>
<%= event_details(@event) %>

<%#= @priorities.to_s %>

<%# if @event.planned? then -%>
<%#*<div>%>
<%#*<h2>Satisfied</h2>%>
<%#= @satisfied.map{|w| human_readable_want(w) }.join(" / ") %>

<%#*<h2>Unsatisfied</h2>%>
<%#= @unsatisfied.map{|w| human_readable_want(w) }.join(" / ") %>
<%#*</div>%>
<%# end %>

<% case @event.style %>
<% when "tables" %>
<% @event.tables.each{|table| %>
  <ul class="table">
    <% unless table.popular_topics.empty? %>
      <li><b><%= table.popular_topics.map{|t| t.description }.join(",") %></b></li>
    <% end %>
    <% table.users.each{|u| -%>
    <li><%= u.name %></li>
    <% } -%>
  </ul>
<% } %>

<% when "rows" %>
  <table>
  <% tables_to_rows(@event).each{|users| -%>
    <tr>
      <% users.each{|u| %>
      <td><%= u ? u.name : "[空席]" %></td>
      <% } %>
    </tr>
  <% } -%>
  </table>
<% end %>

<% unless @excluded_users.empty? %>
  <h2>自由席の人</h2>
  <p>
  <% @excluded_users.each do |u| -%>
  <%= u.name %>
  <% end -%>  
  </p>
<% end -%>