<h1><%= @event.description %>の席</h1>
<p><%= event_details(@event) %></p>

<%#= @priorities.to_s %>

<%# if @event.planned? then -%>
<%#*<div>%>
<%#*<h2>Satisfied</h2>%>
<%#= @satisfied.map{|w| human_readable_want(w) }.join(" / ") %>

<%#*<h2>Unsatisfied</h2>%>
<%#= @unsatisfied.map{|w| human_readable_want(w) }.join(" / ") %>
<%#*</div>%>
<%# end %>

<% if @event.planned? -%>
<% case @event.style %>
<% when "tables" %>
<%= render :partial => "tables", :locals => { :event => @event } %>
<% when "rows" %>
<%= render :partial => "rows", :locals => { :event => @event } %>
<% end %>

<% unless @excluded_users.empty? %>
  <h2>自由席の人</h2>
  <p>
  <% @excluded_users.each do |u| -%>
  <%= u.name %>
  <% end -%>  
  </p>
<% end -%>

<% else -%>
  <p>決まった席はここで確認できますが、座席はまだ決まっていません。</p>
<% end -%>